section.slider-section.container
    p.partial-header Нещодавні події
    .slider.owl-theme.owl-carousel
        each event in events 
            .slider-item(style={background: 'url(' + event.picture + ')'})
                each pic in event.Pictures
                    a.slider-item-picture(
                        href=pic.path,
                        data-title=event.description
                        data-lightbox='pictureGroup'+event.id
                    )

                .description
                    p.description-header= event.name
                    p.description-body= event.getShort()
